.conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  padding: 20px; 
  width: 85%;
  margin: 0 auto; 
  border-radius: 8px; 
  background-color: #84b1e21b;
  border: 0.1rem solid #ccc; 
  box-shadow: 0 4px 10px #84b1e261; 
}

.conteiner img {
  width: 100%; 
  height: 25vh; 
  border-radius: 8px 8px 0 0; 
}

.conteiner h1 {
  padding: 0.5%; 
  font-size: 18px; 
  font-weight: bold;
  margin-top: 10px; 
  color: #000000; 
}

.conteiner p {
  padding: 0.5%; 
  font-size: 1.1em; 
  color: #000000; 
  margin-bottom: 10px; 
}