.conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaçamento entre os itens */
  justify-content: center; /* Centraliza os itens */
  border: 2px solid #2381deb1; /* Bordas cinza claro */
  padding: 20px; /* Espaçamento interno */
  width: 90%;
  margin: 0 auto; /* Centraliza o contêiner na página */
  background-color: #c3d9eaac; /* Fundo branco */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 10px rgba(195, 27, 27, 0.16); /* Sombra suave */
}

.conteiner img {
  width: 100%; /* Largura total da imagem */
  height: 25vh; /* Altura da imagem */
  border-radius: 8px 8px 0 0; /* Bordas arredondadas no topo */
}

.conteiner h1 {
  padding: 0.5%; /* Espaçamento interno */
  font-size: 18px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  margin-top: 10px; /* Margem superior */
  color: #000000; /* Texto preto */
}

.conteiner p {
  padding: 0.5%; /* Espaçamento interno */
  font-size: 1.1em; /* Tamanho da fonte */
  color: #000000; /* Texto preto */
  margin-bottom: 10px; /* Margem inferior */
}