.bloco {
  display: flex;
  flex-direction: column;
  width: 19vw; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(164, 155, 143, 0.245); 
  height: 60vh; 
  text-align: center; 
  transition: transform 0.2s, box-shadow 0.2s; 
  background-color: #ffffff;
}


.bloco2{
  padding: 5%;
}

.bloco:hover {
  transform: scale(1.03); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

.valor {
  color: #ff8103; 
  font-size: 16px; 
  font-weight: bold; 
}

.link {
  text-decoration: none; 
  color: #000000; 
  transition: color 0.2s ease;
}

.link:hover {
  color: #e67e22; 
}