.article {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.BlocoMaior {
  width: 70%;
  height: 95vh;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #84b1e21b;
  box-shadow: 0 4px 10px #84b1e261;
}

.article img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-bottom: 2px solid #88888857;
  transition: transform 0.3s ease-in-out;
}

.article img:hover {
  transform: scale(1.05);
}

.BlocoDescriAvali {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.Descricao {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 1.1vw;
  color: #333;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 2px solid #88888857;


  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.Avaliacao {
  border: 2px solid #88888857;
  border-radius: 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(170, 23, 23, 0.1);
  padding: 10px;
  height: 15vh;
}

.BlocoDataFavorit {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-top: none;
}


.Favorite {
  margin-top: 3%;
  width: 90%;
  height: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
  border: 2px solid #88888857;
background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.Favorite p {
  font-weight: bold;
  font-size: 1.3em;
  color: #333;
}

