.footer {
    margin-top: 23%;
    background-color:#ff81124f;
    padding: 1% ;
    color: #000000;
    border: 2px solid #000000 ;
    text-align: center;
    font-size: 1em;
}


.container {
    display: flex;
    flex-direction: row;
  justify-content: space-between;
    align-items: center;
    padding: 1%;
    gap: 7em;
    font-size: 1.0em;
}

.footer_contact {
    align-items: center;
    gap: 1em;
    flex: 5;
}


.footer_social a {
    margin: 0 5px;
    font-size: 2.2em;
    color: #000000;
    transition: color 0.3s ease;
    flex: 5;
}

.footer_social a:hover {
    color: #e67e22; 

}
.footer_social p {
    font-size: 1.2em;
   
}

.footer_sobre p {
    font-size: 1.0em;
    gap: 7em
}

i {
    width: 30px;
}

.footer_feedback {
    flex-direction: column;
}