.footer {
    margin-top: 30%;
    background-color:#fc8a18c0;
    padding: 7px;
    color: #000000;
    border: 2px solid #000000 ;
    text-align: center;
    font-size: 1em;
    box-shadow: 0 0 10px #000000;
}


.container {
    display: flex;
    flex-direction: row;
  justify-content: space-between;
    align-items: center;
    padding: 1%;
    gap: 7em;
}

.footer_contact {
    align-items: center;
    gap: 1em;
    flex: 5;
}

.footer_contact:hover {
    transition: color 0.3s ease;
    color: #ffffff;
}

.footer_social a {
    margin: 0 5px;
    font-size: 2.2em;
    color: #000000;
    transition: color 0.3s ease;
    flex: 5;
}

.footer_social a:hover {
    color: #e67e22; 
}

.footer_social:hover {
    transition: color 0.3s ease;
    color: #ffffff;
}


.footer_social p {
    font-size: 1.2em;
   
}

.footer_sobre p {
    font-size: 1.0em;
    gap: 7em
}


.footer_sobre:hover {
    transition: color 0.3s ease;
    color: #ffffff;
}

i {
    width: 30px;
}

.footer_feedback {
    flex-direction: column;
}

.footer_feedback:hover {
    transition: color 0.3s ease;
    color: #ffffff;
}

.footer_reclamacao a {
    text-decoration: none;
}